VITE_API_BASE_URL=/api/v1
VITE_GOOGLE_CLIENT_ID=
VITE_TURNSTILE_SITE_KEY=
NGINX_PORT=3301
API_PROXY_UPSTREAM=https://api-finance.ganipedia.xyz/api/
API_PROXY_HOST=api-finance.ganipedia.xyz
CSP_CONNECT_SRC=https://api-finance.ganipedia.xyz https://accounts.google.com https://challenges.cloudflare.com https://app.midtrans.com https://app.sandbox.midtrans.com
